In [1]:
# Dependencies
import sys
import pandas as pd
from config import mypass
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [5]:
# Store filepath in a variable
military_bases = "Resources/mil_base_updtd.csv"

In [6]:
military_bases_df = pd.read_csv(military_bases, encoding ='utf8')

In [7]:
# Show just the header
military_bases_df.head()

,state_long,state_short,mil_base_name,operational_status,component,lat,long,country
0,Alabama,AL,Fort McClellan ARNG Training Center,Active,Army Guard,33.731637,-85.789886,United States
1,Alabama,AL,NOLF Summerdale,Active,Navy Active,30.508033,-87.647190,United States
2,Alabama,AL,Redstone Arsenal,Active,Army Active,34.633164,-86.657219,United States
3,Alabama,AL,Barin Field,Active,Navy Active,30.391073,-87.631314,United States
4,Alabama,AL,Toth Stagefield,Active,Army Active,31.228469,-85.558658,United States

In [8]:
military_bases_df.to_csv("Output_data/military_bases.csv")

In [9]:
rds_connection_string = f"root:{mypass}@127.0.0.1/alien_data"
engine = create_engine(f"mysql://{rds_connection_string}")

In [11]:
# Confirm tables
engine.table_names()

['military_bases', 'ufo_sightings']

In [12]:
military_bases_df.reset_index()
military_bases_df.to_sql(name='military_bases',\
                           con=engine, if_exists='replace', chunksize=10000)