# SQLAlchemy Joins

## Setup

In [1]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
from config import mypass
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
#engine = create_engine("sqlite:///../Resources/mammal_masses.sqlite", echo=False)
rds_connection_string = f"root:{mypass}@127.0.0.1/FRL_Project2_db"
engine = create_engine(f"mysql://{rds_connection_string}")

In [3]:
# Confirm tables
engine.table_names()

['cities', 'mil_base', 'mj_legalstates', 'ufo_sightings']

In [4]:
# Reflect Database into ORM classes
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

[]

In [ ]:
# Map Europe class
#EA = Base.classes.ea

In [ ]:
# Map North American class
#NA = Base.classes.na

In [5]:
# create a session
session = Session(engine)

## Filtering Review

Filters are the "WHERE" clause for your select statement.

In [ ]:
# filter North American mammals whose genus is "Antilocapra"
# query, loop over and print out animals.
#mammals = session.query(NA).filter(NA.genus == 'Antilocapra').all()
#for mammal in mammals:
   # print("Family: {0}, Genus: {1}".format(mammal.family, mammal.genus))

## Joins

A SQL join combines columns from one or more tables in a relational database. 

It creates a set that can be saved as a table or used as it is. 

A JOIN is a means for combining columns from one (self-table) or more tables by using values common to each.

In [6]:
inspector = inspect(engine)
inspector.get_table_names()

['cities', 'mil_base', 'mj_legalstates', 'ufo_sightings']

In [7]:
# Get a list of column names and types
columns = inspector.get_columns('cities')
for c in columns:
    print(c['name'], c["type"])

index BIGINT(20)
City TEXT
ST TEXT
State TEXT
Lat DOUBLE
Lng DOUBLE

In [8]:
# Get a list of column names and types
columns = inspector.get_columns('mil_base')
for c in columns:
    print(c['name'], c["type"])

State TEXT
Site_Name TEXT
Operational_Status TEXT
Component TEXT
Latitude DOUBLE
Longitude DOUBLE
Country TEXT

In [9]:
# Get a list of column names and types
columns = inspector.get_columns('mj_legalstates')
for c in columns:
    print(c['name'], c["type"])

State TEXT
Marijuana Legal TEXT

In [10]:
# Get a list of column names and types
columns = inspector.get_columns('ufo_sightings')
for c in columns:
    print(c['name'], c["type"])

Date Submitted TEXT
Date of Sighting TEXT
City TEXT
ST TEXT
Short Description TEXT

In [ ]:
session.query(EA.sporder, NA.sporder).limit(100).all()

In [ ]:
same_sporder = session.query(EA, NA).filter(EA.sporder == NA.sporder).limit(10).all()


for record in same_sporder:
    (ea, na) = record
    print(ea.sporder)
    print(na.sporder)

In [ ]:
# Return all animals from EA and NA belonging to the same sporder.
# This JOINs the data in the two tables together into a single dataset (here in the form of a tuple).
# Note: We are going to limit the results to 10 for printing
sel = [EA.family, EA.genus, EA.species, NA.family, NA.genus, NA.species]
same_sporder = session.query(*sel).filter(EA.sporder == NA.sporder).limit(10).all()

for record in same_sporder:
    (ea_fam, ea_gen, ea_spec, na_fam, na_gen, na_spec) = record
    print(
        f"The European animal '{ea_fam} {ea_gen} {ea_spec}'"
        f"belongs to the same sporder as the North American animal '{na_fam} {na_gen} {na_spec}'.")