In [1]:
# Dependencies
import pandas as pd
from config import mypass
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
# Store filepath in a variable
ufo_sightings = "Resources/ufo_clean_revised.csv"

In [3]:
ufo_sightings_df = pd.read_csv(ufo_sightings)

In [4]:
# Show just the header
ufo_sightings_df.head()

,Date Submitted,Date of Sighting,City,ST,Short Description,Unnamed: 5
0,1/1/2018,1/1/2018,Bell Gardens,CA,{dr}hovering orb. jagged movement. disappeared...,NaN
1,1/1/2018,1/1/2018,Eureka,CA,{dr}Flying then split into two.,NaN
2,1/6/2018,1/1/2018,Los Angeles,CA,{dr}After I park my truck in the driveway I fe...,NaN
3,1/2/2018,1/1/2018,Sylmar,CA,{dr}from 2nd story balcony red lights against ...,NaN
4,1/1/2018,1/1/2018,Denver,CO,{dr}Approx. 12:10 am 1-1-18 we saw hovering ab...,NaN

In [5]:
ufo_sightings2_df = ufo_sightings_df.dropna(axis=0, how='all', thresh=None, subset=None, inplace=False)

In [6]:
ufo_sightings2_df.count()

Date Submitted       3555
Date of Sighting     3555
City                 3555
ST                   3555
Short Description    3555
Unnamed: 5              2
dtype: int64

In [9]:
ufo_clean_df = ufo_sightings2_df.drop(columns="Unnamed: 5")
ufo_clean_df.head()

,Date Submitted,Date of Sighting,City,ST,Short Description
0,1/1/2018,1/1/2018,Bell Gardens,CA,{dr}hovering orb. jagged movement. disappeared...
1,1/1/2018,1/1/2018,Eureka,CA,{dr}Flying then split into two.
2,1/6/2018,1/1/2018,Los Angeles,CA,{dr}After I park my truck in the driveway I fe...
3,1/2/2018,1/1/2018,Sylmar,CA,{dr}from 2nd story balcony red lights against ...
4,1/1/2018,1/1/2018,Denver,CO,{dr}Approx. 12:10 am 1-1-18 we saw hovering ab...

In [10]:
ufo_clean_df.to_csv("output_data/ufo_sightings.csv")

In [11]:
rds_connection_string = f"root:{mypass}@127.0.0.1/FRL_Project2_db"
engine = create_engine(f"mysql://{rds_connection_string}")

In [12]:
# Confirm tables
engine.table_names()

['mil_base', 'ufo_sightings']

In [13]:
ufo_clean_df.reset_index()
ufo_clean_df.to_sql(name='ufo_sightings',\
                           con=engine, if_exists='replace', index=False)